
.nav{
    top: 0;
    background-color: transparent;
    height: 50px;
    margin: 10;
    /* position: fixed; */
    width: 100%;
}
.nav img{
    width: 25px;
    float: right;
    margin: 8px;
}
.nav p:hover{
    color: white;
}
.nav p{
    color: #0d8df0;
    margin: 5px;
    font-size: 2em;
    font-weight: bolder;
}
.container{
  margin-right: 100px;
  margin-left: 80px;
  padding: 20px;
}
.helo{
    text-align: center;
    color: #ffffff;
}
hr{
    display: flex;
     border: none;
    border-top: 3px double rgb(226, 226, 226);
    color: rgb(235, 229, 229);
    overflow: visible;
    height: 5px;
    text-align: center;
}
h3{
    color: red;
}
h4{
    text-align: center;
    color: #0d8df0;
    font-size: 1rem;
    letter-spacing: 2px;
    box-shadow: 0 0 25px black;
    background-color: darkgray;
    border-radius: 15px;
    padding: 10px 0px;
    width: 100px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.me{
    display: flex;
    text-align: center;
    color: white;
   justify-content: space-between;
   
   
}
.about a{
    text-decoration: none;
    color: white;
   
}
.about:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.about{
    box-shadow: 6px 6px darkgray;
    border-radius: 10px;
    padding: 6px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.skills a{
    text-decoration: none;
    color: white;
}
.skills{
     box-shadow: 6px 6px darkgray;
     border-radius: 10px;
     padding: 6px;
     transition: 1s;
     -webkit-transition:;
     -moz-transition:;
     -ms-transition:;
     -o-transition:;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}
.skills:hover{
    transform: scale(1.1);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}
.skils{
     box-shadow: 6px 6px darkgray;
    border-radius: 10px;
    background-color: wheat;
    margin-left: 30%;
    width: 40%;
    padding: 6px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.project a{
    text-decoration: none;
    color: white;
}
.project{
    box-shadow: 6px 6px darkgray;
    border-radius: 10px;
    padding: 6px;
     transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.project:hover{
    transform: scale(1.1);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}
.bot{
      box-shadow: 6px 6px darkgray;
    border-radius: 10px;
    background-color: wheat;
    margin-left: 40%;
    width: 20%;
    padding: 6px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.proj{
      box-shadow: 6px 6px darkgray;
    border-radius: 10px;
    background-color: wheat;
    margin-left: 30%;
    width: 35%;
    padding: 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.skill {
    text-align: center;
    margin: 0px;
}
/*START OF SKILLS STYLING*/
.exp {
    display: inline-block;
    width: 40%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 25px black;
    background-color: wheat;
    border-radius: 25px;
}

.exp:hover {
    background-color: darkgrey;
}

.dev {
    display: inline-block;
    width: 40%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 25px black;
    background-color: wheat;
    border-radius: 25px;
}

.dev:hover {
    background-color: darkgrey;
}

.grap {
    display: inline-block;
    width: 40%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 25px black;
    background-color: wheat;
    border-radius: 25px;
}

.grap:hover {
    background-color: darkgrey;
}

/* .ex {
    display: inline-block;
    width: 40%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 25px black;
    background-color: wheat;
    border-radius: 25px;
}

.ex:hover {
    background-color: darkgrey;
}

.dj {
    display: inline-block;
    width: 40%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 25px black;
    background-color: wheat;
    border-radius: 25px;
}

.dj:hover {
    background-color: darkgrey;
}

.loops {
    display: inline-block;
    width: 40%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 25px black;
    background-color: wheat;
    border-radius: 25px;
}

.loops:hover {
    background-color: darkgrey;
} */
 p1 {
    display: none;
    text-align: center;
}

p2 {
    display: none;
    text-align: center;
}

p3 {
    display: none;
    text-align: center;
}

p4 {
    display: none;
    text-align: center;
}

p5 {
    display: none;
    text-align: center;
}

p6 {
    display: none;
    text-align: center;
} 
/*END OF SKILLS STYLING*/

/*START OF DESIGNS*/
.designer img{
   width: 150px;
   height: 150px;
    width: 20%;
    margin-left: 10px;
    text-align: center;
    box-shadow: 0 0 5px white;
    background-color: transparent;
    border-radius: 25px;
}
.designer:hover img{
    background-color: darkgray;
}
.column {
    display: inline-block;
    margin: 50px;
    width: 35%;
    
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.mgs {
    display: inline-block;
    padding: 10px 20px;
    margin: 5%;
    text-align: center;
    box-shadow: 0 0 0px black;
    background-color: transparent;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
/*END OF DESIGNS*/

/*flipcards for recent projects*/
.flip-card {
    margin-left: 60px;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    -webkit-transition: transform 0.9s;
    -moz-transition: transform 0.9s;
    -ms-transition: transform 0.9s;
    -o-transition: transform 0.9s;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    transition-delay: 0.6s;
    display: inline-block;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-card-front {
    background-color: wheat;

}

.flip-card-back {
    background-color: black;
    transform: rotateY(180deg);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
/*END OF FLIPCARDS*/
.pdf a{
    text-decoration: none;
    color: #ffffff;
     transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
   }
.pdf a:hover{
    color: #0d8df0;
    text-transform: uppercase;
    text-shadow: solid wheat;
}
.footer{
    position: fixed;
    bottom: 0px;
    background-color: transparent;
    width: 100%;
}
.footer p{
    text-align: center;
    color: #0d8df0;
    padding: 5px;
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 500px) {
   #hh2{
        font-size: medium;
   }
  .container{
      margin-left: 5px;
      margin-right: 5px;
  }
  .nav{
      height: 25px;
      background-color: transparent
  }
  .nav p{
      color: #ffffff;
  }
.footer{
    background-color: transparent;
}
.footer p{
    color: #ffffff;
}
  .nav img{
    width: 18px;
    float: right;
    margin: 2px;
}
.nav p{
    font-size: small;
}
.helo h2{
    font-size: large;
}
.me h1{
    font-size: small;
}
.about{
    box-shadow: none;
}
.about h1:hover{
    color: #0d8df0;
}
.skills{
    box-shadow: none;
}
.skills h1:hover{
    color: #0d8df0;
}
.project{
    box-shadow: none;
}
.project h1:hover{
    color: #0d8df0;
}
.exp,
 .dev,
 .ex,
.grap,
 .dj,
  .loops{
      width: 90%;
  }
  
  .proj h1{
font-size: small;
font-weight: bold;
  }
  .skils h1{
font-size: small;
font-weight: bold;
  }
  .bot h1{
font-size: small;
font-weight: bold;
  }
  .hob{
      text-align: justify;
      color: white;
   font-size: small;
font-weight: bold;   
  }
  .con{
        text-align: justify;
      color: white;
   font-size: small;
font-weight: bold;    
  }
 .designer img{
    margin-left: 10px;
    width: 100px;
    height: 5%;
    box-shadow: 0 0 25px black;
    background-color: wheat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  .column {
       width: 70%;
       display: inline-block;
       margin: 0px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.mgs img{
    display: inline-block;
    padding: 5px 10px;
    margin-left: 0px;
    width: 50%;
    text-align: center;
    box-shadow: 0 0 0px black;
    background-color: transparent;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.flip-card {
    margin: 0px;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 400px;
    perspective: 1000px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
}
